/* Media  */
@media (max-width: 900px){
    .item-expertise{
    flex-basis: 100vw !important;
    padding: 3vh 4vw !important;
    }

    .about-us-hero h1 {
    padding: 2vh 2vw !important;
    text-align: center !important;
    }
    .about-us-intro p {
        padding: 3vh 10vw !important;
    }
}

/* end Media */
/******** ABOUT US PAGES ******** */
.about-us-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-strong );
    width: 100vw;
}

.about-us-hero h1{
    padding: 15vh;
    color: var(--font-light);
    font-size: 4rem;
    font-family: var(--headers);
}

.about-us-intro{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.about-us-intro p{
    color:var(--font-strong);
    font-size: 1.5rem;
    font-family: var(--paragraphs);
    padding: 3vh 5vw;
    text-align: justify;

}

.about-us-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: var(--font-strong);
    font-family: var(--paragraphs);
    font-size: 3rem;
}
.div-expertise{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: center;
    justify-content:space-around;
    font-family: var(--paragraphs);
    padding-bottom: 3vh;
}

.item-expertise{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
    padding: 1vh 1vw;
    flex: 1 1 24vw;
    margin-top: 3vh;
    font-size: 1.2rem;
    height: -webkit-fill-available;
}

.item-expertise h4{
    margin: 2vh 0;
    font-family: var(--transactionals);
    width: 100%;
    text-align: center;
}
/******** END ABOUT US PAGES ******* */
