.admin-hero{
    display: flex;
    width: 100vw;
    background-color: var(--bg-noir);
    align-items: center;
    justify-content: center;
}

.admin-hero h1{
    font-family: var(--headers);
    color:var(--font-light);
    font-size: 4rem;
    padding: 15vh 0;
}

.admin-control-create{
    display: flex;
    width: 100vw;
    padding: 3vh;
    background-color: var(--background);
}

.admin-container{
    display: flex;
    width: 100vw;
    height: auto;
    padding: 7vh 3vw;
    align-items: center;
    justify-content: center;
}

.admin-container-control{
    display: flex;
    width: 100vw;
    height: auto;
    padding: 7vh 3vw;
    align-items: center;
    justify-content: center;
}

.admin-container-control form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}


.admin-success{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


.admin-control-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
}
