.advertiser-title{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.ad-table-container{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--font-normal);
}

.ad-head-features{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33vw;
    text-align: center;
}

.ad-head-basic{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33vw;
    text-align: center;
    height: -webkit-fill-available;
}

.ad-head-premium{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33vw;
    text-align: center;
    height: -webkit-fill-available;
}

.head-basic-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--ternary);
}

.head-basic-price{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.head-basic-price p{
    margin: 2vh 0;
}

.head-basic-price span{
    font-size: 4rem;
}

.head-premium-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--font-violet);
    color: var(--font-silent);
}

.head-premium-type{
    display: flex;
    justify-content:space-evenly;
}

.btn-price{
    width: 95%;
}





