
.prospectos-registro-container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
    width: 95vw;
    height: auto;
}

.frame-prospectos-registro{
    width: 100vw;
    height: 100vh;
}

.teQAzf{
    width: 60vw !important;
}
