@media (max-width: 900px) {
    .contact-form{
    width: 80vw !important;
}
}
.contacto-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: var(--font-strong);
}

.contacto-hero h1{
    padding: 15vh;
    text-align: center;
    color: var(--font-light);
    font-size: 4rem;
    font-family: var(--headers);
}

.contact-container{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 3vh 0;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: #fff;
    margin: 2vh 0;
}

.contact-control{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-contact{
    background-color: var(--stg-ternary);
    color: var(--font-violet);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 2vh 0;
}
.btn-contact:hover{
    color: var(--font-light);
}

.contact-form form{
    width: 80%;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.form-label{
    margin: 1vh;
}
