.user-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: center;
}
