/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Manjari&family=Poiret+One&display=swap'); */


/* Font Family */
@font-face {
    font-family:'Manjari', sans-serif ;
    /* src: url('https://fonts.googleapis.com/css2?family=Manjari&display=swap'); */
    src: url('../css/fonts.css?family=Manjari&display=swap');
}

@font-face {
    font-family: 'Poiret One', cursive ;
    /* src: url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); */
    src: url('../css/fonts.css?family=Poiret+One&display=swap');

}

@font-face {
    font-family: 'BIZ UDMincho', serif ;
    /* src: url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap'); */
    src: url('../css/fonts.css?family=BIZUDMincho&display=swap');

}

/* Media */
@media (max-width: 900px) {

    .interest-left {
     width: 100vw !important;

   }
   .interest-right {
     width: 100vw !important;

   }

   .interest-text h3{
     text-align: center !important;
     }

     .hero{
        background-image: url('../images/img_index_small.avif') !important;
        margin-top: 15vh !important;
     }

     .hero-text h1{
        font-size: calc(1.375rem + 2.5vw) !important;
        text-align: center !important;
     }

     .front-title-providers {
         width: 50vw !important;
     }

     .generos-title-text {
         width: 50vw !important;
     }
     .front-title-shoes{
         width: 50vw !important;
     }

     .front-title-gallery{
         width: 50vw !important;
     }

     .front-title-most{
         width: 50vw !important;
     }
     .text-hero-busqueda {
        width: 80vw !important;
     }
    .genders-title-text{
    width: 50vw !important;
    }
    .footer-main{
        flex-direction: column !important;
        text-align: center !important;
    }
    .searchmodelcategories{
        width: 100vw !important;
    }
    .header-Category h1{
        height:25vh !important;
    }
    .subcatTitle {
        margin-top: 15vh !important;
        flex-direction: column !important;
        height: auto !important;
        padding-top: 5vh;
    }
    .subcatTitle img{
        width: 25vw !important;
        border-radius: 10% !important;
        height: 16vh !important;
    }
    .subcatTitle h1{
        font-size: 8vw !important;
    }
 }
/* end Media */

/* Color Palette 2 */
:root {
    --primary:  #AAD4A3;
    --quarterly:#AED4BE;
    --cinqterly:#CBD498;
    --secondary:#D4948E;
    --ternary:  #C9B8D4;

    --font-strong: #6b6b6b;
    --font-normal: #bdbdbd;
    --font-silent: #e0e0e0;
    --font-light:  #f0f0f0;

    --bg-noir:      rgba(0,0,0,0.7);
    --bg-grey:      rgba(0 , 0 , 0, .5);
    --background:   rgba(201, 184, 212, 0.3);
    --backgroundsolid:   rgba(201, 184, 212);

    --bg-primary:   rgba(170, 212, 163, 0.3);
    --bg-secondary: rgba(212, 148, 142, 0.3);
    --ternary-bg:   #f5e7ff;

    --stg-ternary: #bd93d8;

    --headers: 'Poiret One';
    --transactionals : 'BIZ UDMincho';
    --paragraph: 'Manjari';
}

body{
    margin: 0;
    padding: 0;
    font-family:var(--paragraph);
}

.main-container{
    padding-bottom: 7vh;
    padding-top: 3rem;
    margin-bottom: 7vh;
}

/* Nav */
.navbar{
    z-index: 1;
}

.nav-link{
    font-size: 1rem;
}

.navbar-brand{
    font-size: 1rem;
    color: var(--secondary) !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-item p{
    font-size: .6rem;
}

.nav-link-register{
    font-size: .6rem;
    margin: 0;
    padding: 0;
}

.nav-link-register svg{
    width: 1.5rem;
    height: 1.5rem;
}
/* end Nav */


/* Footer */
footer{
    position:fixed;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-noir);
    font-size: 1.1rem;
}

footer a{
    color: var(--quarterly);
}

footer a:hover{
    color:  var(--secondary);
}

.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer-socials svg{
    width: calc(1.3rem + .6vw);
    height:calc(1.3rem + .6vw);
    color: var(--quarterly);
 }

 .footer-socials svg:hover{
    color: var(--secondary);
}
.copy-right{
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: .9rem;
    color: var(--quarterly);
}
/* end Footer */

/*likes */
.col-likes{
    background-color: var(--stg-ternary);
}
.likes{
    display: flex;
    justify-content:end;
    cursor: pointer;
    width:fit-content;
    text-align: end;
}
/* end likes */

/* verified */
.verified{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--stg-ternary);
    font-size: 1rem;
}
.verified svg{
    color: var(--stg-ternary);
    width: 1.5rem;
    height: 1.5rem;
}
/* end verified */

/* card */
.card a{
    text-decoration: none;
}
.card-title{
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: var(--bg-noir);
    color: var(--primary);
    font-size: 1.25rem;
}
.card-link{
    color:var(--font-strong);
    text-align: center;
}
.card-link:hover{
    color: var(--secondary) !important;;
}
.card-body{
    margin-top: 0;
    padding: 0;
}
.card-text{
    color:var(--font-strong);
    text-align: center;
    font-size: .85rem;
}
.card-email-sm{
    font-size: .75rem;
}
.card-title-modelo{
    margin-top: -50%;
    background-color: var(--bg-noir);
    color: var(--primary);
    text-align: center;
    z-index: 8;
    position: absolute;
    width: 100%;
    cursor: pointer;
}
.card-title-modelo p{
    padding: .5vh;
    width: 100%;
    text-align: center;
    color: var(--primary);
    font-size: 1.5rem;
    letter-spacing: 1.2vh;
    font-family: 'Poiret One';
    margin: 0;
    padding: 0;
}
.card-title-modelo :hover{
    background-color: rgba(189, 147, 216, .5);
}
.card-text-modelo{
    background-color: var(--primary);
    color:var(--font-light);
    margin: 0;
    border-bottom: 1px solid var(--font-light);
}
.card-text-modelo-muted{
    color:var(--bg-grey);
    margin: 0;
    border-bottom: 1px solid var(--primary);
}
.card-ref{
    display: flex;
    width: 100wv;
    height: auto;
    justify-content: center;
    align-items: center;
}
.card-body-modelo{
    display: grid;
}
/* end card */


/******** FRONT PAGE *********/

/* Hero */
.hero{
    height: 50vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/img_index.avif');
    background-position: center;
    background-size: cover;

}
.hero-text {
    height: 35vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-grey);
    color: var(--primary);
    font-family:'Poiret One', cursive;
}
.hero-text h1{
    font-size: 4rem;
}

.hero-text-modelo{
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-grey);
    color: var(--primary);
    font-family: var(--transactionals);
}
/* end Hero */

/* Busqueda hero */
.busqueda-hero{
    display: flex;
    height: auto;
    width: auto;
}
.busqueda-hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-hero-busqueda{
    width: 30vw;
    border: 1px solid var(--bg-grey);
    border-radius: 25px;
    padding-left: .5vw;
}

.btn-hero-busqueda{
    background-color:var(--stg-ternary);
    color: var(--font-light);
    margin-top: 2vh;
}
.btn-hero-busqueda:hover{
    background-color:var(--secondary);
    color: var(--bg-noir);
    margin-top: 2vh;
}

.btn-hero-busqueda svg{
    width: 1rem;
    height: 1rem;
}
/* end Busqueda hero */

/* Categories-Front */
.categories-front{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-bottom: 2vh;
    color: var(--stg-ternary);
    background-color: var(--font-light);
    height: auto;
}
.categories-front-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categories-front-item h4{
    font-size: 1.3rem;
}
.categories-front-item svg{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
}
.categories-front-item a{
    background-color: var(--stg-ternary);
    color: var(--font-silent);
    border-radius: 10%;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}
.categories-front-item a:hover{
    background-color: var(--secondary);
    color: var(--bg-grey);
    border-radius: 10%;
    padding: 1rem;
}
/* end Categories-Front */

/* Front-subcategories */
.front-subcategories{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-grey);
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: var(--font-light);
}
.front-subcategories h4{
    font-size: 1rem;
}
.front-subcategories a{
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--font-light);
    border-radius: 20%;
    text-align: center;
    padding: 1rem;
}
.front-subcategories a:hover{
    color: var(--font-light);
    background-color: var(--stg-ternary);
    border-radius: 20%;
}
/* end Front-subcategories */

/*Genders-front*/
.genders-div{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: var(--font-light);
    height: auto;
    padding-bottom: 5vh;
}
.genders-title{
    width: 100vw;
    padding-top: 3vh;
}
.genders-title-text{
    width:fit-content;
    border-radius: 0 10px 10px 0;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-right: 2vw;
    color: var(--primary);
    background-color: var(--bg-noir);
}
.genders-title-text h3{
    font-family: var(--transactionals);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.gender-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gender-item h4{
    font-size: 1.3rem;
}
.gender-item:hover{
    background-color: var(--font-light);
    color: var(--primary) !important;
    border-radius: 10%;
  }
  .gender-item a{
    text-decoration: none;
    background-color:var(--stg-ternary);
    color:var(--font-light);
    text-align: center;
    padding: 5vh;
    border-radius: 10%;
    width: max-content;
}
.gender-item a:hover{
    color: var(--bg-noir);
    background-color: var(--secondary);
    border-radius: 10%;
}
  .gender-item svg{
    width: 2.5rem;
    height: 2.5rem;
    padding: 1vh;
}
/*end Genders-front*/

/* Front Gallery Last Models*/
.front-title-gallery{
    width: 25vw;
    border-radius: 0 10px 10px 0;
    padding-left: 5vw;
    padding-top: 2vh;
    color: var(--primary);
    background-color: var(--bg-noir);
}
.front-title-gallery h3{
    font-family: var(--transactionals);
    padding-bottom: 1rem;
    font-size:1.5rem ;
}
.gallery-front{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:auto;
    padding-top: 1rem;
    padding-bottom:1rem;
    gap: 3vw;
}
.gallery-front-item {
    display: flex;
    flex-direction: column;
}
.gallery-front-image{
    background-color: var(--stg-ternary);
}
.gallery-front-image img:hover{
    opacity: .50;
}
.gallery-front-model-name{
    text-align: center;
    background-color: var(--bg-noir);
    color:var(--primary);
    margin: 0;
}
.gallery-front-biz-name{
    background-color: var(--background);
    display: flex;
    justify-content: center;
}
.gallery-front-biz-name a{
    text-decoration: none;
    color: var(--font-light);
}
.gallery-front-biz-name a:hover{
    background-color: var(--secondary);
    color: var(--font-strong);
}
.gallery-front-button{
    text-align: center;
    background-color: var(--stg-ternary);
    color:var(--font-light);
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    font-size: .75rem;
    width: 90%;
}
.gallery-front-button h4{
    font-size: .85rem;
    margin-top: .5rem;
}
/* end Gallery Front Last Models*/

/* Front Factories*/
.front-factories{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    width: 100%;
    height: auto;
    justify-content:center ;
    justify-items: center;
    margin-bottom: 5vh;
    padding-top: 3vh;
    padding-bottom: 10vh;
}
/* end Front Factories*/

/* Attention */
.attention{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 2rem;
    font-family: 'Poiret One', cursive ;
  }
  .attention h2 {
    font-size: 2rem;
    color: var(--secondary);
    text-align: center;
    width: 90%;
  }
/* End Attention */

/* front title */
.front-title{
    width: 100%;
    text-align: start;
    color: var(--bg-grey);
    justify-content: start;
   }
.front-title-providers{
    width:fit-content;
    background-color: var(--bg-noir);
    color: var(--primary);
    border-radius: 0 10px 10px 0;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-right: 3vw;

}
.front-title-providers h3{
    font-family: var(--transactionals);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.front-title-shoes{
    width:fit-content;
    border-radius: 0 10px 10px 0;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-right: 1vw;
    color: var(--primary);
    background-color: var(--bg-noir);

}
.front-title-shoes h3{
    font-family: var(--transactionals);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.front-title-most{
    width:fit-content;
    background-color: var(--bg-noir);
    color:  var(--primary);
    border-radius: 0 10px 10px 0;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-right: 3vw;
}
.front-title-most h3{
    font-family: var(--transactionals);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* front title */
.Formal{
    background-image: url('../images/formal.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.Deportivos{
    background-image: url('../images/deportivos.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.Sandalias{
    background-image: url('../images/sandalias.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.Trabajo{
    background-image: url('../images/trabajo.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
}
.Botas{
    background-image: url('../images/botas.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
}
.Tacones{
    background-image: url('../images/tacones.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
}
.Ortopédico{
    background-image: url('../images/ortopedico.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
}
/******** END FRONT PAGE *********/


/******** CATEGORIES PAGES *******/
.header-Category{
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.header-Category h1{
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--bg-noir);
    padding: 5vh;

    text-align: center;
    color: var(--primary);
    font-size: 5vw;
    letter-spacing: 2.2vh;
    font-family: 'Poiret One' ;
}

.container-search-model-categories{
display: grid;
width: 100%;
justify-content: center;
}
.searchmodelcategories{
    background-color: var(--stg-ternary);
    font-size: .75rem;
    display: flex;
    width: auto;
    justify-content: space-evenly;
    align-items:center;
    height: auto;
}
.searchmodelcategories-category{
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:var(--stg-ternary);
width: 10vw;
padding-top: 1vw;
color: var(--font-light);
}
.searchmodelcategories-category svg{
    width: 2rem;
    height: 2rem;
}
.searchmodelcategories-category p{
    margin: 0;
}
.searchmodelcategories form :hover{
    background-color: var(--secondary) !important;
    color: var(--font-normal) !important;
}
.search-model-title{
    display: flex;
    background-color: var(--ternary);
    justify-content: center;
    color: var(--font-light);
    font-size: .75rem;
}

/*biz-container */
.biz-item-container{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    margin: 1.5rem;
    gap: 1rem;
    padding-bottom: 3rem;
    justify-content: center;
}
.biz-row-catname{
    font-size: .95rem;
    background-color: var(--primary);
    padding-top: 1vh;
}
.biz-row-catname svg{
    width: 1.5rem;
    height: 1.5rem;
}
.biz-row-catname p{
    font-size: 1rem;
    padding-top: 2vh;
}
.biz-row-catname span{
    font-size: 2rem;
}

/*end biz-container */

/*model-categories-list */
.container-model-categories-list{
    display: flex;
    justify-content: space-around;
}
.modelcategorieslist{
    color:var(--stg-ternary);
    font-size: 1.75rem;
}
.modelcategorieslist svg{
    height: 1.5rem;
    width: 1.5rem;
}
.modelcategorieslist p{
    font-size: .7rem;
    color:var(--font-strong);
}
/*end model-categories-list */

/* Providers-items*/
.provider-items svg{
    width: 1.5rem;
    height: 1.5rem;
}
/*end Providers-items*/

/* btn-show */
.btn-show{
    background-color: var(--stg-ternary);
    color: var(--font-light);
}

.btn-show a{
    padding-top: 15px;
    background-color: var(--stg-ternary);
    color: var(--font-light);
}
.btn-show a:hover{
    color:var(--cinqterly) !important;
    background-color: var(--secondary) !important;
}
/* end btn-show */

/******** END CATEGORIES PAGES *******/


/******** SUBCATEGORIES PAGES *******/

.gallery-biz-name {
    background-color: var(--background);
    display: flex;
    justify-content: center;
}
.gallery-biz-name a {
    text-decoration: none;
    color: var(--font-light);
}
.gallery-biz-name a:hover {
    background-color: var(--secondary);
    color: var(--font-strong);
}
.gallery-button {
    text-align: center;
    background-color: var(--stg-ternary);
    color: var(--font-light);
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    font-size: .75rem;
    width: 90%;
}
.gallery-model-name {
    text-align: center;
    background-color: var(--bg-noir);
    color: var(--primary);
    margin: 0;
}
.field{
    background-color: var(--primary);
}
.value{
    background-color: #fff;
}
.factories-modelsubcat{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 8vh;
}
.factories-item{
    display: flex;
    flex-direction: column;
}
.genders-category-container{
    width: 100%;
    text-align: start;
    color: var(--bg-grey);
}
.genders-category-title{
    display: flex;
    width:fit-content;
    border-radius: 0 10px 10px 0;
    padding-left: 5vw;
    padding-top: 2vh;
    padding-right: 1rem;
    background-color: var(--bg-noir);
    color: var(--primary);
    font-family: var(--transactionals);
}
.genders-category-title h4{
    font-size: 1rem;
}

/******** END SUBCATEGORIES PAGES *******/

/******** TYPES PAGES     ******** */
.subcatTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: var(--stg-ternary);
}
.subcatTitle h1{
    color:var(--primary);
    font-size: 4rem;
    flex-grow: 6;
}
.subcatTitle img{
    height: 50vh;
    width: 20vw;
    background-color: var(--primary);
}
/******** END TYPES PAGES ******** */


/******** BIZ  PAGES ******** */
.biz-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--bg-grey);
}
.biz-header svg{
    width: 1.5rem ;
    height: 1.5rem;
}
.biz-row-field{
    padding-top: 4px;
    text-align: center;
    color:var(--stg-ternary);
    border-top: 1px var(--ternary) solid;
    border-left: 1px var(--ternary) solid;
    border-right: 1px var(--ternary) solid;
    background-color: var(--bg-primary);
}
.biz-row-field svg{
    width: 1.5rem;
    height: 1.5rem;
}
.biz-row-field span{
    font-size: 2rem;
}
.biz-col-field-link:hover{
    background-color: var(--background);
}
.biz-col-field-link a{
    font-size: .7rem;
    color: var(--stg-ternary);
}
.biz-col-field-link a:hover{
    color: var(--secondary);
}
.biz-row-value{
    padding: 4px;
    text-align: center;
    color: var(--font-strong);
}
.biz-hr{
    background-color: var(--stg-ternary);
    height: 6px;
}
.biz-row-value a{
    color: var(--font-strong);
}

.button-card-model {
    width: 150px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    background-color: var(--stg-ternary);
    color: var(--font-light);
}
.button-card-model:hover{
    color: var(--bg-grey);
    background-color: var(--secondary);
}
.show-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    width:100%;
    height:75vh;
}

.show-banner-title{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    background-color: var(--bg-noir);
}
.show-banner h1{
    padding-top: 5vh;
    text-align: center;
    color: var(--primary);
    font-size: 3vw;
    letter-spacing: 2.2vh;
    font-family: 'Poiret One';
}
.show-banner h2{
font-family: 'Poiret One';
color: var(--stg-ternary);
text-align: center;
padding-bottom: 5vh;
}

.row-btn-model
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

/*Subcategorysearh */
.subcategorysearch-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subcategorysearch{
    color: var(--font-strong);
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.subcategorysearch-title{
    display: flex;
    justify-content: center;
    font-size: .8rem;
    width:fit-content;
    /* background-color: var(--primary); */
    /* color: var(--font-light); */
    color: var(--secondary);
    padding-left: 3rem;
    padding-right: 3rem;
}
.subcategorysearch input{
    background-color: var(--stg-ternary);
    color: var(--font-light);
    border: none;
    border-radius: 5%;
    margin-left: 3px;
    padding: 3px;
    width: 150px;
}
.subcategorysearch input:hover{
    background-color:var(--secondary);
    color:var(--primary);
}
/* end Subcategorysearh */

/******** END BIZ  PAGES ******** */

/******** MODELS PAGES     ******** */
.model-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    padding-top: 15vh;
}
.container-modelos{
    display: flex;
    flex-wrap: wrap;
    width: 100;
    justify-content: center;
    gap: 1vw;
}
.seemodelos {
    border: 1px solid var(--stg-ternary);
    color: var(--font-strong);
}
.seemodelos :hover{
    background-color: var(--ternary);
}
.modelo-info-main{
    display: flex;
    justify-content: center;
    padding-bottom: 12vh;
}
.modelo-info{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 250px;
}
.modelo-row{
    width: 100%;
}
.model-field{
    border-bottom:1px solid var(--cinqterly);
    color: var(--font-light);
    background-color: var(--primary);
    width: 25vw;
}
.model-value{
    border-bottom:1px solid var(--cinqterly);
    color: var(--font-strong);
    background-color: var(--font-light);
}
.model-value a{
    color: var(--font-strong);
}
/******** END MODELS PAGES ******** */

/******** ABOUT US PAGES ******** */
.aboutus-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 6rem;
}
/******** END ABOUT US PAGES ******* */

/******** CONTACT US PAGES ******* */

.contact-container-header{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.contact-container{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 6rem;
}
.btn-contact{
    background-color: var(--stg-ternary);
    color: var(--font-light);
}
.btn-contact:hover{
    background-color: var(--secondary);
    color: var(--primary);
}
/******** END CONTACT US PAGES ******* */

/******** HOW IT WORKS PAGES ******* */
.container-como-funciona{
    display: grid;
    align-items: center;
    margin-top: 5vh;
}
.interest{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    color: var(--secondary);
}
.interest-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.interest-left-img{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.interest-left-img svg{
    width: 6rem;
    height: 6rem;
}
.interest-text{
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
}
.interest-text h3{
    text-align: justify;
}
.interest-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
}

.interest-right-img{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.interest-right-img svg{
    width:6rem;
    height: 6rem;
}

/*Interest buttons */
.Buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem 2rem ;
    background-color: var(--stg-ternary);
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.buttonA-image{
    width: 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--font-silent);
    justify-content: center;
    color:var(--font-light);
    padding: 2vh;
}

.buttonA-image svg{
    width: 6rem;
    height: 6rem;
}
.buttonA-text{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    border-bottom: 1px solid var(--font-silent);
    color:var(--font-light);
    font-size: 1.55rem;
}
/* end Interest buttons */

/* desire */
.desire{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-normal);
    padding-top: 4vh;
}
.desire span{
    width: 75%;
    font-size: 1.55rem;
}
.desire p{
    font-size: 2rem;
}
/* end desire */


/******** END HOW IT WORKS PAGES ******* */





/* logout */
.btn-logout{
    border:none;
}
/* end logout */




/* privacy policy */

.container-privacy{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 6rem;
}
/* privacy policy */

.dropdown-item{
    font-size: 1rem;
}
/* paypal */
.paypal{
    width: 100%;
    height: auto;
    background-color: var(--stg-ternary);
    color:var(--font-light);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.paypal span{
    width: 75%;
    font-size: 2.5vw;
    text-align: justify;
}

.paypalButtons{
    width: 100%;
    height: auto;
    background-color: var(--stg-ternary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.paypalbuttons{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

#paypal-button-container-P-70396561M81280630MX4NJZY{
    width: 50vw;
    height: 25vh;
    padding-top: 5vh;
    padding-bottom: 15vh;
    margin-bottom: 15vh;
}
/* end paypal */

.galleryTitle{
    display: flex;
    width: 100%;
    justify-content: start;
    color: var(--bg-grey);
    margin-bottom: 0;
    padding-left: 5vw;
}

.btn-main{
    background-color: var(--stg-ternary);
    color: var(--primary);
}

.btn-main:hover{
    background-color: var(--primary);
    color: var(--stg-ternary);
}
.container-busquedas{
    display: flex;
    height: auto;
    width: 100vw;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding-bottom: 5vh;
    margin-bottom: 10vh;
}
.container-busqueda-ref{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.container-busqueda-ref a{
    background-color: var(--stg-ternary);
    color: var(--font-light);
    padding: 1vh;
}
.container-busqueda-ref a:hover{
    background-color: var(--secondary);
    color: var(--bg-noir);
}
.intro{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary);
    font-family: var(--headers);
    padding: 3vh;
}

.intro-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 2vh 5vh;
    text-align: center;
    font-family: var(--transactionals);
    color: var(--primary);
    background-color: var(--bg-noir);
}
