
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Jost&family=Manjari&family=Poiret+One&family=Yuji+Syuku&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Font Family */
@font-face {
    font-family:'Manjari', sans-serif ;
    src: url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Jost&family=Manjari&family=Poiret+One&family=Yuji+Syuku&display=swap');
}

@font-face {
    font-family: 'Poiret One', cursive ;
    src: url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Jost&family=Manjari&family=Poiret+One&family=Yuji+Syuku&display=swap');
}

@font-face {
    font-family: 'BIZ UDMincho', serif ;
    src: url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Jost&family=Manjari&family=Poiret+One&family=Yuji+Syuku&display=swap');
}

/* Color Palette 2 */
:root {
    --primary:  #AAD4A3;
    --quarterly:#AED4BE;
    --cinqterly:#CBD498;
    --secondary:#D4948E;
    --ternary:  #C9B8D4;

    --font-strong: #6b6b6b;
    --font-normal: #bdbdbd;
    --font-silent: #e0e0e0;
    --font-light:  #f0f0f0;

    --bg-noir:      rgba(0,0,0,0.7);
    --bg-grey:      rgba(0 , 0 , 0, .5);
    --background:   rgba(201, 184, 212, 0.3);
    --bg-primary:   rgba(170, 212, 163, 0.3);
    --bg-secondary: rgba(212, 148, 142, 0.3);
    --ternary-bg:   #f5e7ff;

    --stg-ternary: #bd93d8;

    --headers: 'Poiret One';
    --transactionals : 'BIZ UDMincho';
    --paragraph: 'Manjari';
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body{
    margin: 0;
    padding: 0;
    font-family:var(--paragraph);
}

.hero{
    background-color: #000;
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/img_index.jpg');
    background-position: center;
    background-size: cover;
}

.secondary-text{
    color:var(--secondary)
}

.hero-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    background: var(--bg-grey);
    color: var(--primary);
    font-family:'Poiret One', cursive;
}
.hero-text h1{
    font-size: 6vw;
}
.hero-text h2{
    font-size: 5vw;
    color: var(--ternary);
}

.attention{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 2rem;
  }
  .attention h2 {
    font-size: 4vw;
    color: var(--font-normal);
    text-align: center;
    width: 90%;
  }

  .attention h4 {
    font-size: 2.8vw;
    color: var(--secondary);
  }

  .interest{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
   color: var(--secondary);
  }

  .interest-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .interest-left span{
    font-size: 3vw;
    width: 90%;
  }

.interest-left-img{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.interest-left-img span{
    font-size: 8vw;
}


  .interest-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
  }

  .interest-right span {
  width: 90%;
  font-size: 3vw;
  }


  .interest-right-img{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .interest-right-img span{
    font-size: 8vw;
  }


  .Buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem 2rem ;
    background-color: var(--stg-ternary);
    padding-bottom: 10vh;

  }

  .buttonA-image{
    width: 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--font-silent);
    justify-content: center;
    color:var(--font-light);
  }

  .buttonA-image span{
    font-size: 4vw;
  }

  .buttonA-text{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    border-bottom: 1px solid var(--font-silent);
    color:var(--font-light);
    font-size: 3vw;
  }

.desire{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-normal);
}

.desire span{
    width: 75%;
    font-size: 3vw;
}

.desire p{
    font-size: 3vw;
}
.navbar{
    z-index: 1;
}

.header-Category{
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-Category p{
    background-color: var(--bg-noir);
    padding: 5vh;
    width: 100%;
    text-align: center;
    color: var(--primary);
    font-size: 5vw;
    letter-spacing: 2.2vh;
    font-family: 'Poiret One' ;
    margin-bottom: 25px;
}

.card a{
    text-decoration: none;
}

.card h5:hover{
    background-color: var(--stg-ternary);
    color: var(--quarterly);
}

.card-title{
    margin-top: -50%;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: var(--bg-noir);
    color: var(--stg-ternary);
}

.card-body{
    margin-top: 30%;
}

.card-text{
    color:var(--font-strong);
    text-align: center;
}

.card-title-modelo{
    margin-top: -50%;
    background-color: var(--bg-noir);
    color: var(--primary);
    text-align: center;
    z-index: 8;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.card-title-modelo p{
    padding: .5vh;
    width: 100%;
    text-align: center;
    color: var(--primary);
    font-size: 1.5rem;
    letter-spacing: 1.2vh;
    font-family: 'Poiret One';
}

.card-title-modelo :hover{
    background-color: rgba(189, 147, 216, .5);
}


.card-text-modelo{
    background-color: var(--primary);
    color:var(--font-light);
}

.btn-show{
    background-color: var(--primary);
    color: var(--stg-ternary);
}

.btn-show a:hover{
    background-color:var(--stg-ternary);
    color:  var(--primary);
}

.biz-row-field{
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color:var(--stg-ternary);
    border-top: 1px var(--ternary) solid;
    border-left: 1px var(--ternary) solid;
    border-right: 1px var(--ternary) solid;
}

.biz-row-field p{
font-size: .7rem;
}

.biz-row-field span{
    font-size: 2rem;
}

.biz-row-value{
    padding: 4px;
    background-color: var(--bg-primary);
    text-align: center;
}



.biz-hr{
    background-color: var(--stg-ternary);
    height: 6px;
}



.biz-row-value a{
    color: var(--font-strong);
}

.show-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    width:auto;
    height:75vh;
}

.show-banner p{
    background-color: var(--bg-noir);
    padding: 5vh;
    width: 100%;
    text-align: center;
    color: var(--primary);
    font-size: 3vw;
    letter-spacing: 2.2vh;
    font-family: 'Poiret One';
    margin-bottom: 25px;
}

.btn-logout{
    border:none;
}

.paypal{
    width: 100%;
    height: auto;
    background-color: var(--stg-ternary);
    color:var(--font-light);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.paypal span{
    width: 75%;
    font-size: 2.5vw;
    text-align: justify;
}

.paypalButtons{
    width: 100%;
    height: 45vh;
    background-color: var(--stg-ternary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.likes{
    width:fit-content;
    border: 1px #860404 solid;
    border-radius: 5px;
    text-align: end;
}

.model-field{
    border-bottom:1px solid var(--cinqterly);
    color: var(--secondary);
}

.model-value{
    border-bottom:1px solid var(--cinqterly);
    color: var(--font-strong);
}

.model-value a{
    color: var(--font-strong);

}

footer{
    position:fixed;
    padding-top: 2vh;
    bottom: 0;
    width: 100%;
}

.likes{
    cursor: pointer;
}


.modelcategories{
    background-color: var(--font-light);
    color:var(--stg-ternary);
    border-radius: 10px;
    font-size: 1.3rem;
    border:1px solid var(--cinqterly);
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items:center;
    height: auto;
    padding-top: 3vh;
}

.modelcategories p{
    font-size: .7rem;
}

.modelcategorieslist{
    color:var(--stg-ternary);
    font-size: 1.75rem;
}

.modelcategorieslist p{
    font-size: .7rem;
    color:var(--font-strong);
}

.seemodelos {
    border: 1px solid var(--stg-ternary);
    color: var(--font-strong);
}

.seemodelos :hover{
    background-color: var(--ternary);
}

.subcategorysearch{
    border: 1px solid var(--stg-ternary);
    color: var(--font-strong);
}



.subcategorysearch input{
    background-color: var(--stg-ternary);
    color: var(--cinqterly);
    border: none;
    border-radius: 5%;
    margin-left: 3px;
}

.subcategorysearch input:hover{
    background-color:var(--cinqterly);
    color:var(--stg-ternary);
}

svg{
    width: 1rem;
}

.galleryDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #CBD498;
    height:auto;
    padding-top: 1rem;
    padding-bottom:10rem;
}

.galleryItem{
    margin-top: 0;
    padding-top: 0;
    height: auto;
}
.galleryItem p{
    position:relative;
    text-align: center;
    background-color: rgba(0 , 0 , 0, .5);
    margin-top: -10rem;
    color:var(--primary)
}

.galleryItem img{
    position:static;
    margin-top: 8rem;
}

.galleryItem a{
    text-decoration: none;
}

.galleryItem p:hover{
    background-color: var(--stg-ternary);
}
