/******** MODELS PAGES     ******** */
.modelo-container{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--font-strong);
}

.model-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-modelo{
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-grey);
    font-size: 4rem;
    font-family: var(--headers);
    color: var(--secondary);
}

.seemodelos {
    border: 1px solid var(--stg-ternary);
    color: var(--font-strong);
}
.seemodelos :hover{
    background-color: var(--ternary);
}
.modelo-info-main{
    display: flex;
    justify-content: center;
    padding: 2vh 0 5vh 0;
}
.modelo-info{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20vw;
}
.modelo-row{
    width: 100%;
}
.model-field{
    border-bottom:1px solid var(--font-normal);
    color: var(--font-strong);
    background-color: var(--background);
    width: 25vw;
}
.model-value{
    border-bottom:1px solid var(--font-normal);
    color: var(--font-strong);
}
.model-value a{
    color: var(--stg-ternary);
}

.model-price{
    color:var(--secondary) !important;
}
/******** END MODELS PAGES ******** */
