@media (max-width: 900px) {
    .newsletter-hero{
        margin-top: 10vh;
    }

    #mc_embed_signup{
        width: 80vw !important;
    }

    .newsletter-container ul{
        width: auto !important;
    }

    .newsletter-container-control form {
        width: 90vw !important;
    }
}

.newsletter-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: var(--bg-noir);
    color: var(--font-light);
}

.newsletter-hero h1{
    display: flex;
    width: 10vw;
    height: auto;
    padding: 15vh;
    text-align: center;
    font-size: 4rem;
    font-family: var(--headers);
    justify-content: center;
}


.newsletter-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    color: var(--font-strong);
}

.newsletter-container h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1vh;
    font-family: var(--paragraphs);
    color:var(--secondary);
}

.newsletter-container p{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1vh;
}

.newsletter-container h4{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1vh;
}

.newsletter-container ul{
    font-style: italic;
    text-align: justify;
    font-weight: 500;
    width: 35vw;
}

#text-attention{
    color: var(--secondary);
}

.newsletter-form{
    display: flex;
    width: 100vw;
    height: auto;
    background-color: var(--font-silent);
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw;
}

.newsletter-form form{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background:#fff;
    padding: 5vw;
}

.newsletter-container-control{
    display: flex;
    width: 100vw;
    height: auto;
    padding: 7vh 3vw;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.newsletter-container-control form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: var(--bg-light);
    padding: 1vh 2vw;
    box-shadow: 2px 2px 10px 16px var(--background);
}


.newsletter-success{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


.newsletter-control-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
}

.newsletter-button-success{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    background-color: var(--stg-ternarystrong);
    color: var(--font-light);
    border: none;
    text-decoration: none;

}

.newsletter-button-success:hover{
    color:var(--font-violet);
    background-color: var(--stg-ternary);
}

.newsletter-button-cancel{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    background-color: var(--secondary);
    color: var(--font-violet);
    text-decoration: none;
}

.newsletter-button-cancel:hover{
    color:var(--font-light);
    background-color: #ca3636;
}
