/* Media */
@media (max-width: 900px) {
    .col-extensible{
        flex: 0 0 100% !important;
        padding: 0 !important;
    }
    .premium-container-control form {
        width: 90vw !important;
    }
    .premium-status{
        width: 100vw !important;
        flex-direction: column !important;
    }

    .premium-registrado{
        width: 100vw !important;
        flex: 0 0 10vh !important;
    }

    .premium-noregistrado{
        width: 100vw !important;
        flex: 0 0 10vh !important;
    }
}

/*Normal View  */
.premium-container{
    display: flex;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.premium-hero{
    display: flex;
    width: 100vw;
    background-color: var(--bg-noir);
    align-items: center;
    justify-content: center;
    height: 35vh;
    color: var(--font-light);
    font-family: var(--headers);
}

.premium-hero h1{
    font-size: 3rem;
}

.premium-intro{
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: center;
}
.premium-container-control {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 7vh 3vw;
    align-items: center;
    justify-content: center;
}

.premium-container-control form{
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: var(--font-silent);
    padding: 3vh 2vw;
}

.premium-form-header{
    text-align: center;
}
.premium-status{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50vw;
    height: auto;
    margin: 2vh 0;
}

.premium-registrado{
    background-color: var(--stg-ternarystrong);
    flex: 1 1 25vh;
    text-align: center;
    padding: 3vh 2vw;
    color: var(--font-light);
}

.premium-noregistrado{
    background-color: var(--secondary);
    flex: 1 1 25vh;
    text-align: center;
    padding: 3vh 2vw;
}

.premium-registrados{
    display: none;
}

.premium-noregistrados{
    display: none;
    height: auto;
    padding: 2vh 0;
    text-align: center;
    font-size: 1.5rem;
}

.premium-noregistrados a{
    text-decoration: none;
}

.premium-noregistrados a:hover{
    color: var(--font-normal);
}

.premium-row-list{
    display: flex;
    flex-direction: column;
}

.premium-dropdown{
    text-align: center;
}

.premium-periodos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.premium-period{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    padding: 1vh 2vw;
    margin: 2vh 0;
    text-align: center;
    background-color: var(--stg-ternarystrong);
    color: var(--font-light);
}

.row-period{
   /* background-color: var(--stg-ternarystrong); */
   /* background-color: #e9ecef; */
   /* color: var(--font-light); */
   padding: 2vh;
   margin: 2vh 0 !important;
   text-align: center;
   background-color: #fff;
}

.col-extensible{
    padding: 0 !important;
    margin: 0 !important;
}

.col-extensible label{
    background-color: #e9ecef;
}

.btn-premium-noregistrados{
    padding: 2vh 3vw;
    background-color: var(--stg-ternarystrong);
    color: var(--font-light);
    border-radius: 10px;
}

.btn-premium-submit{
    padding: 2vh 3vw;
    background-color: var(--stg-ternarystrong);
    color: var(--font-light);
    border-radius: 10px;
}
.btn-premium-submit:hover{
    color: var(--font-strong);
}

.btn-premium-cancel{
    padding: 2vh 3vw;
    background-color: var(--secondary);
    width: 180px;
    text-align: center;
    border-radius: 10px;
}

.premium-control-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 2vh 2vw;
    border-radius: 10px;
}

.premium-control-buttons a{
    text-decoration: none;
    color: var(--bg-noir);
}

.premium-control-buttons a:hover{
color: var(--font-strong);
}

.thankyou-intro{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 0 5vw;
    text-align: center;
}
