@media (max-width: 900px) {
    .list-items ul{
        width: 80vw !important;
    }
    .prospectos-form-container form {
        width: 90vw !important;
    }
    .prospectos-form-container input{
        width: 60vw !important;
    }
    .prospectos-form-container select{
        width: 60vw !important;
    }
    .prospectos-controls{
        flex-direction: column !important;
        gap: 1vw !important;
    }
    .prospectos-btn-cancelar {
        width: 60vw !important;
        text-align: center !important;
        margin-top: 1vh !important;
    }
}

.prospectos-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: var(--bg-noir);
}

.prospectos-hero h1{
    padding: 15vh;
    text-align: center;
    color: var(--font-light);
    font-size: 4rem;
    font-family:var(--headers);
}

.header-message-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh 3vw;
    font-family: var(--transactionals);
    text-align: center;
}

.header-message-container p{
    font-size: 1.3rem;
}

.header-message-thankyou{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items:center;
    justify-content: center;
}

.list-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: var(--background);
    padding: 2vh 0;
}

.list-items ul{
    width: 30vw;
    text-align:justify;
}

.prospectos-after-acreditation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 2vh 10vw;
}

.table-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.table-container table{
    width: 90vw;
    padding: 0 2vw;
}

.prospectos-crear{
    display: flex;
    width: 100vw;

}

.prospectos-crear a{
    margin: 2vh 4vw;
    padding: 1vh 1vw;
    background-color: var(--stg-ternary);
    border-radius: 10px;
    color:var(--font-violet);
    text-decoration: none;
}

.prospectos-form-container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--font-silent);
    padding: 5vh 0;
}

.prospectos-form-container form{
    width: 50vw;
    background-color:#fff;
    padding: 0 3vw;
    margin: 2vh 0;
}

.data-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--font-silent);
}

.prospectos-form-container input{
    width: 20vw;
    margin-bottom: 2vh;
}

.row-form{
    margin-top: 2vh !important;
    border-bottom: 1px solid var(--font-silent);
}

.row-form-title{

    text-align: center;
}

.prospectos-form-container select{
    width: 20vw;
    margin-bottom: 2vh;
}

.prospectos-btn{
    width: 20vw;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    display: block;
}

.prospectos-btn-guardar{
    background-color: var(--stg-ternarystrong);
    color:var(--font-light);
    margin: 0 !important;
}

.prospectos-btn-guardar:hover{
    background-color: var(--stg-ternary);
    color: var(--font-violet);
}

.prospectos-btn-cancelar{
    background-color: var(--secondary);
    color:var(--bg-noir);
    text-align: center;
}

.controls{
    text-align: center;
}

.prospectos-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prospectos-controls a{
    text-decoration: none;
}

.prospectos-controls a:hover{
    color: var(--font-light);
}
