/* media */
@media (max-width: 900px) {
    .attention h2 {
        width: 90vw !important;
        font-size: 5vw  !important;
        text-align: center !important;
    }

    .front-title-providers {
        width: auto !important;
        padding: 0 2vh 0 2vh;
     }
     .interest-container{
        flex-direction: column !important;
        gap: 2vh !important;
     }
     .interest{
        width: 100vw !important;
     }


     .interest-text{
        width: 90vw !important;
        font-size: 4vw !important;
        padding: 0 2vh !important;
     }

     .Buttons{
        flex-direction: column !important;
        gap: 2vh !important;
     }

     .buttonA-text{
        width: 90vw !important;
        font-size: 3vw !important;
        padding: 0 2vh !important;
     }
}
/* end media */

/* Attention */

.attention-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family:var(--paragraph);
}

.attention{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;

  }

  .attention p{
    font-weight: 900;
    font-size: 2.5rem;
  }

  .attention h2 {
    font-size: 1.3rem;
    text-align:center;
    width: 50vw;
    color: var(--stg-ternarystrong);
  }

  .attention-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    text-align: center;
    font-size: 1.2rem;
    color:var(--font-normal);
  }
/* End Attention */

/* Interest  */
.interest-container{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    color: var(--font-strong);
    gap: .3vw;
}

.interest{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--font-light);
}

.interest-img{
    width: 12rem;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.interest-img svg{
    width: 6rem;
    height: 6rem;
}

.interest-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 45vw;
    text-align: center;
    font-family: var(--paragraph);
}

.interest-text h3{
    text-align: justify;
}
/* end Interest */

/* front title */
.front-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: var(--bg-grey);
    font-family: var(--headers);

 }

 .front-title-container h2{
    font-size: 2.3rem;
    margin: 3vh 0 3vh 0;
    text-align: center;
    font-weight: 600;
}

.front-title-container h3{
    font-weight: 600;
}

/* end front title */
/*Interest buttons */
.Buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    padding: 1rem 2rem;
    gap: .5vw;
    font-family: var(--paragraph);
}

.buttons-section{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: calc(100vw/3);
    height: fit-content;
    background-color: var(--font-light);
}

.buttons-section h3{
    padding-top: 2vh;
    margin-top: 2vh;
    width: 70%;
}

.buttonA-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 10vh;
    border-radius: 10px;
    margin: 1vh 2vw;
    color:var(--font-light);
    background-color:var(--stg-ternarystrong);

}

.buttonA-image svg{
    width: 2rem;
    height: 2rem;
}

.buttonA-text{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 15vh;
    align-items: center;
    color: var(--font-strong);
    font-size: 1.2rem;
    text-align: justify;
    padding: 1vh 1vw 4vh 1vw;
    flex-shrink: 1;
    flex-grow: 2;
}
/* end Interest buttons */

/* front factories */
.front-factories{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    width: 100vw;
    height: auto;
    justify-content:center ;
    justify-items: center;
    margin-bottom: 5vh;
    padding: 0 3vh 0 3vh;
}
/* end Front Factories*/
