/* Media */
@media (max-width: 900px) {
    .text-hero-busqueda {
        width: 80vw !important;
     }
}
/* End Media */

/* Busqueda hero */
.busqueda-container{
    display: flex;
    height: auto;
    width: auto;
}
.busqueda-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-hero-busqueda{
    border: 1px solid var(--bg-grey);
    border-radius: 25px;
    padding-left: .5vw;
    width: 25vw;
}

.btn-hero-busqueda{
    padding: .2rem;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: max-content;
}

.btn-hero-busqueda svg{
    width: 1rem;
    height: 1rem;
}

.text-hero-busqueda::placeholder{
    text-align: center;
}
/* end Busqueda hero */
.navbar-search{
    width: 30vw;
}
