/* Media */
@media (max-width: 900px) {
    .hero{
        /* background-image: url('.../images/hero.webp') !important; */
        background-image: url('/images/hero.webp') !important;
        margin-top: 15vh !important;
        background-position: inherit !important;
        height: auto !important;
     }

     .hero-text{
        height: auto !important;
     }
     .hero-text h1{
        font-size: 4rem !important;
        text-align: center !important;
     }
}

/* Hero */
.hero{
    height: auto;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/hero.webp');
    background-position: center;
    background-size: cover;
    padding: 8vh 0;
}

.hero-text {
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-grey);
    font-family:'Poiret One', cursive;
    padding: 8vh 0;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 600;
    padding: 0 2vw;
    text-align: center;
    width: 50vw;
    color: var(--font-light);
}

.hero-text h1 .sub-headline{
    display: block;

}

.hero-text h2{
    width: 50vw;
    color: var(--font-silent);
    /* color: var(--secondary); */
    /* color: rgb(203 213 225 / var(--tw-text-opacity, 1)); */
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero-button-cats{
    background-color: var(--stg-ternarystrong);

}

.hero-buttons-container a{
    padding: 15px 10px;
    border-radius: 5px;
    color: var(--font-light);
    font-family: var(--paragraph);
    text-decoration: none;
    margin: 1vh;
}

.hero-buttons-container a:hover{
    color: var(--font-light);
    padding: 16px 11px;
}

.hero-button-asociados{
    background-color: var(--bg-btn-provider);
}

.hero-button-asociados svg{
    width: 1.5rem;
    height: 1.5rem;
}


/* end Hero */
