@media (max-width: 900px) {
    .submenu-cateogories-container{
        width: 100vw !important;
    }
    .submenu-categories-menu{
        width: 100% !important;
        padding: 0 1vw !important;
    }
    .search-modelcategories-container{
        width: 100vw !important;
    }
}
.submenu-categories-main{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.submenu-cateogories-container{
    display: flex;
    width: 50vw;
    flex-direction: column;

}

.submenu-categories-title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-footer);
    color:var(--ternary);
}

.submenu-categories-title p{
    margin: 0;
    padding: 0;
}

.submenu-categories-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    width: 50vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--stg-ternary);
    border-radius: 10px;
    padding: .3vw;
}


.submenu-categories-category{
    flex-basis: calc(50vw/4);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.submenu-categories-menu :hover{
    background-color: var(--ternary);
}

.submenu-categories-menu-selected{
    background-color: var(--ternary) !important;
}

.submenu-categories-category a{
    text-decoration: none;
    color: var(--violet);
    text-align: center;
}

.submenu-categories-category svg{
    width: 2rem;
    height: 2rem;
}

.submenu-categories-category p{
    margin: 0;
    padding: 0;
}
